@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

body {
  font-family: "Didact Gothic", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  color: #a383a0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

p {
  padding-bottom: 10px;
}

pre {
  white-space: pre-line;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

.picture {
  border: 5px solid #a383a0;
  background-repeat: no-repeat;
  margin-right: auto;
  background-size: cover;
}


.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.item-params {
  width: 30%;
  padding: 70px;
}

.item-description {
  width: 70%;
  flex: 1;
  padding: 40px;
}

.background_1 {
  background-color: #fcfcfc;
}

.background_2 {
  background-color: #f0f0f0;
}

.contacts-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 490px;
}

.name {
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  color: #7d75c9;
  font-weight: 600;
}

.last-name {
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  color: #7d75c9;
  font-weight: 600;
}

.job {
  color: #939393;
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
}

.contacts-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 3px solid #7d75c9;
}

.contacts-list-name {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.contacts-info a {
  color: #939393;
}

.title {
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .item-params {
    width: 100%;
  }

  .item-description {
    width: 100%;
    padding: 10px 10px;
  }

  .title {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }

  .last-name {
    font-size: 40px;
  }

  .contacts-list {
    flex-direction: column;
  }

  .contacts-list li {
    padding-bottom: 60px;
  }
}
